<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #menu{
        position:absolute;
        top:2%;
        left: 68%;
      }
      #menu li{
        margin-right: 10px;
        display: inline;
      }
      #menu li a {
        font-family: 'Kdam Thmor Pro', sans-serif;
        color:white;
        font-weight: bold;
        font-size:16px;
        padding: 14px 16px;
        text-decoration: none;
      }
      #menu li a:hover{
        background-color: #e64545;
      }
        header{
            background-color: #BF2626;
            height: 60px;
            width: 100%;
            margin:0px;
        }
        #search{
            position:absolute;
            left: 10%;
            top: 6.5%;
            transform: translateY(-50%);
            background-color: rgb(255, 255, 255,0.2);
            border:none;
            height: 4%;
            width: 20%;
        }
    
        #icone{
            position:absolute;
            right: 5%;
            top: 6%;
            transform: translateY(-50%);
        }
        #mapa{
            height: 70%;
            width: 40%;
            margin-top:3%;
            float: left;
        }   
        .form-background{
            height: 68%;
            width: 50%;
            margin-left: 25%;
            margin-top:3%;
            background-color: #BF2626;
            border-radius: 20px;
            padding-top: 10px;
        }
        .row{
            display: block;
            margin-left: 20px;
            margin-top: 10px; 
        }
        label{
            font-family: 'Kdam Thmor Pro', sans-serif;
            color:white;
            font-weight: bolder;
        }
        h3{
            font-family: 'Kdam Thmor Pro', sans-serif;
            color:white;
            font-weight: bolder;
        }
        input{
            border:0px;
            background-color: rgb(255, 255, 255,0.2);
            width: 50%;
            height:8%;
            color:white;
        }
        #texto{
            width:60%;
            height: 30%;
            margin-left: 16%;
        }
        #title{
            margin-left: 15%;
        }
        #subtitle{
            margin-left: 11%;
        }
        #image{
            margin-left: 12%;
        }
        .submit-button{
            background-color: #F02E2E;
            width: 20%;
            height: 10%;
            color: #FFFFFF;
            border: 1px solid white;
            border-radius: 20px;
            font-family: 'Kdam Thmor Pro', sans-serif;
            font-size:14px;
            margin-left: 40%;
            margin-top: 2%;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
        }
        </style>
</head>
<body>
    <header>
        <form>
          <input id="search" type="text">
        </form>
        <image id="icone" src="images/icon.png" width="3%"></image>
    </header> 

    </header>

    <div class = "form-background">
        <form  method="post" action="/publicacoes/" enctype="multipart/form-data">
            <div class="row">
                <label>Título</label> 
                <input type="text" class="form-control" name="title" id="title" placeholder="Insira um título" />
            </div>
            <div class="row">
                <label>Subtítulo</label> 
                <input type="text" class="form-control" name="subtitle" id="subtitle" placeholder="Insira um subtítulo" />
            </div>
            <div class="row">
                <label>Arquivo</label> 
                <input type="file" name="image" id="image" placeholder="Anexar um Arquivo" class="form-control">
            </div>
            <div class="row">
                <h3 id="descri">Texto</h3> 
                <textarea id="texto" name = "texto">

                </textarea>
            </div>
            <div class="form-group ">
                <button type="submit" class="submit-button">Criar</button>
            </div>
        </form>
        <ul id="menu">
            <li>
                <a href="/dashboard">INICIO</a>
            </li>
            <li>
              <a href="/eventos">EVENTOS</a>
            </li>
          </ul>
    </div>
</body>
</html>